text {
  fill: #888;
  font-size: 0.01px;
  font-family: serif;
}

rectangle {
  fill: #000;
}

circle {
  fill: #fff;
}

text.heading {
  fill: #fff;
  font-size: 0.05px;
  font-family: monospace;
}

line,
circle.outer {
  fill: none;
  stroke: #555;
  stroke-width: 0.01;
  stroke-opacity: 1;
}
